.App {
  background: yellowgreen;
  padding: 7.8%;
  color: white;
  text-align: center;
}

.App-content {
  width: 45%;
  margin: auto;
}

.App-content p {
  font-size: 14px;
  line-height: 20px;
}

.App h3 {
  border-bottom: 0.2px solid wheat;
  padding-bottom: 20px;
  font-weight: bolder;
}

.form select,
.form .button {
  border-radius: 20px;
  padding: 10px;
  margin: 10px;
  width: 20%;
}

.form .button {
  background: white;
  color: yellowgreen;
  border: none;
}

.form select {
  background: none;
  color: white;
  border: 2px solid white;
}

.form select option {
  background: white;
  color: yellowgreen;
}



/* Media Query for Laptops and Desktops */ 
@media (min-width: 1025px) and (max-width: 1280px){ 
 
  .App {
    padding: 15.3%;
  }

  .App-content {
    width: 80%;
  }
  
  .App-content p {
    font-size: 1.1em;
    line-height: 24px;
  }
  
  .App h3 {
    font-weight: bold;
    font-size: 1.3em;
  }
  
  .form select,
  .form .button {
    padding: 10px;
    width: 25%;
  } 
}

/* Media Query for Tablets Ipads portrait mode */ 
@media (min-width: 769px) and (max-width: 1024px){ 
  .App {
    padding: 14.7%;
  }

  .App-content {
    width: 80%;
  }
  
  .App-content p {
    font-size: 1em;
    line-height: 20px;
  }
  
  .App h3 {
    font-weight: bold;
    font-size: 1.3em;
  }
  
  .form select,
  .form .button {
    padding: 10px;
    width: 25%;
  }  
} 

/* Media Query for low resolution  Tablets, Ipads */ 
@media (min-width: 481px) and (max-width: 768px) { 
  .App {
    padding: 10.3%;
  }

  .App-content {
    width: 80%;
  }
  
  .App-content p {
    font-size: 0.8em;
    line-height: 20px;
  }
  
  .App h3 {
    font-weight: bold;
    font-size: 1.1em;
  }
  
  .form select,
  .form .button {
    padding: 7px;
    width: 25%;
  } 
} 

/* Media Query for Mobile Devices */ 
@media (max-width: 480px) { 
  .App {
    padding: 18.1%;
  }

  .App-content {
    width: 100%;
  }
  
  .App-content p {
    font-size: 0.7em;
    line-height: 18px;
  }
  
  .App h3 {
    font-weight: bold;
    font-size: 0.9em;
  }
  
  .form select,
  .form .button {
    padding: 3px;
    width: 40%;
  } 
} 

/* Media Query for Large screens */ 
@media (min-width: 1367px) {  
  .App {
    padding: 17.3%;
  }

  .App-content {
    width: 80%;
  }
  
  .App-content p {
    font-size: 1.3em;
    line-height: 26px;
  }
  
  .App h3 {
    font-weight: bold;
    font-size: 1.8em;
  }
  
  .form select,
  .form .button {
    padding: 10px;
    width: 20%;
    font-size: 20px;
  }  
} 
