.Header {
  display: flex;
  justify-content: space-between;
  padding: 40px;
}

.App {
  background: yellowgreen;
  padding: 8%;
  color: white;
  text-align: center;
}

.App-content {
  width: 45%;
  margin: auto;
}

.App-content p {
  font-size: 14px;
  line-height: 20px;
}

.App h3 {
  border-bottom: 0.2px solid wheat;
  padding-bottom: 20px;
  font-weight: bolder;
}

.form select, button {
  border-radius: 20px;
  padding: 10px;
  margin: 10px;
  width: 20%;
}

.form button {
  background: white;
  color: yellowgreen;
  border: none;
}

.form select {
  background: none;
  color: white;
  border: 2px solid white;
}

.form select option {
  background: white;
  color: yellowgreen;
}

.RoomLDetails {
  display: flex;
  justify-content: space-between;
  width: 65%;
  margin: 0 0 0 400px;
}

.details-p p:nth-child(odd) { 
  background-color: #f2f2f2;
  padding: 7px; 
}

.details-last {
  text-align: right;
  margin-top: 30px;
}

.details-last p {
  font-size: 9px;
  font-weight: bolder;
}

.book button {
  border-radius: 20px;
  padding: 13px;
  background-color: yellowgreen;
  border: none;
  color: white;
  margin-top: 40px;
}

.back {
  margin-left: 180px;
}
