.Header {
  display: flex;
  justify-content: space-between;
  padding: 40px;
}

.App {
  margin: 70px auto;
  width: 50%;
  text-align: center;
}

.RoomLDetails {
  display: flex;
  justify-content: space-between;
  width: 65%;
  margin: auto;
}
