.Header {
  display: flex;
  justify-content: space-between;
  padding: 40px;
}

.App {
  background: yellowgreen;
  padding: 8%;
  color: white;
  text-align: center;
}

.App-content {
  width: 45%;
  margin: auto;
}

.App-content p {
  font-size: 14px;
  line-height: 20px;
}

.App h3 {
  border-bottom: 0.2px solid wheat;
  padding-bottom: 20px;
  font-weight: bolder;
}

.form select, .form .button {
  border-radius: 20px;
  padding: 10px;
  margin: 10px;
  width: 20%;
}

.form .button {
  background: white;
  color: yellowgreen;
  border: none;
}

.form select {
  background: none;
  color: white;
  border: 2px solid white;
}

.form select option {
  background: white;
  color: yellowgreen;
}

.RoomList {
  margin: auto;
  width: 90%;
}

.RoomList-text {
  text-align: center;
}

.RoomList-content {
  display: flex;
  margin-top: 100px;
}

.RoomLDetails {
  display: flex;
  justify-content: space-between;
  width: 60%;
  margin: 0 0 0 300px;
}

.details-p p:nth-child(odd) { 
  background-color: #f2f2f2;
  padding: 7px; 
}

.details-last {
  text-align: right;
  margin-top: 30px;
}

.details-last p {
  font-size: 9px;
  font-weight: bolder;
}

.book button {
  border-radius: 20px;
  padding: 13px;
  background-color: yellowgreen;
  border: none;
  color: white;
  margin-top: 40px;
}

.back {
  margin-left: 180px;
}

.bck {
  width: 10%;
}

.SideBar h3 {
  text-align: center;
}

.SideBar ul {
  margin-top: 100px;
}

.SideBar ul li {
 list-style: none;
 padding: 10px;
}

.SideBar ul li a{
  text-decoration: none;
  font-weight: bolder;
  color: black;
}

.active{
  background-color: yellowgreen;
}

.active a {
  color: white;
}

.SideBar-social {
  margin-top: 340px;
  text-align: center;
}

.Room-img img{
  width: 15%;
}

.Room-details-img img {
  width: 70%;
}

.description {
  color: lightgray;
  font-size: 14px;
  margin-top: 10px;
}

.title {
  border-bottom: 3px dotted lightgray;
  padding-bottom: 17px;
  width: 13%;
}



/* login and signup forms */

/* Full-width input fields */
input[type=text], input[type=password], input[type=date] {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  box-sizing: border-box;
}

/* Set a style for all buttons */
button {
  background-color: #4CAF50;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  width: 100%;
}

button:hover {
  opacity: 0.8;
}

/* Extra styles for the cancel button */
.cancelbtn {
  width: auto;
  padding: 10px 18px;
  background-color: #f44336;
}

/* Center the image and position the close button */
.imgcontainer {
  text-align: center;
  margin: 24px 0 12px 0;
  position: relative;
}

img.avatar {
  width: 10%;
  border-radius: 50%;
}

.container {
  padding: 16px;
}

span.psw {
  float: right;
  padding-top: 16px;
}

/* The Modal (background) */
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
  padding-top: 60px;
}

/* Modal Content/Box */
.modal-content {
  background-color: #fefefe;
  margin: 5% auto 15% auto; /* 5% from the top, 15% from the bottom and centered */
  border: 1px solid #888;
  width: 35%; /* Could be more or less, depending on screen size */
}

/* The Close Button (x) */
.close {
  position: absolute;
  right: 25px;
  top: 0;
  color: #000;
  font-size: 35px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: red;
  cursor: pointer;
}

/* Add Zoom Animation */
.animate {
  -webkit-animation: animatezoom 0.6s;
  animation: animatezoom 0.6s
}

@-webkit-keyframes animatezoom {
  from {-webkit-transform: scale(0)} 
  to {-webkit-transform: scale(1)}
}
  
@keyframes animatezoom {
  from {transform: scale(0)} 
  to {transform: scale(1)}
}

/* Change styles for span and cancel button on extra small screens */
@media screen and (max-width: 300px) {
  span.psw {
     display: block;
     float: none;
  }
  .cancelbtn {
     width: 100%;
  }
}
