.RoomList {
  margin: auto;
  width: 90%;
}

.RoomList-text {
  text-align: center;
}

.RoomList-content {
  margin-left: 100px;
}

.Room {
  padding: 20px;
}

.RoomLDetails {
  display: flex;
  margin: auto;
}

.details-last p {
  font-size: 9px;
  font-weight: bolder;
}

.details-p p {
  line-height: 10px;
  font-size: 12px;
  display: flex;
  justify-content: space-between;
}

.details-p p:nth-child(odd) {
  background-color: #f2f2f2;
  padding: 7px;
}

.details-text {
  margin-right: 150px;
  text-align: right;
}

.book button {
  border-radius: 20px;
  padding: 10px;
  background-color: yellowgreen;
  border: none;
  color: white;
  margin-top: 30px;
  width: 40%;
}

.back {
  margin-left: 150px;
  width: 20%;

}

.Room-img img {
  width: 60%;
}
.Room-details-img {
  margin-left: 70px;
  width: 60%;
}

.Room-details-img img {
  width: 70%;
  margin-left: 200px;
}

.description {
  color: lightgray;
  font-size: 14px;
  margin-top: 5px;
}

.title {
  border-bottom: 3px dotted lightgray;
  padding-bottom: 10px;
  width: 60%;
}

.icon-rm {
  margin: 15px 5px;
}


/* Media Query for Laptops and Desktops */ 
@media (min-width: 1025px) and (max-width: 1280px){
  .RoomLDetails {
    margin-top: 100px;
  }
  
  .details-last p {
    font-size: 9px;
    font-weight: bolder;
  }
  
  .details-p p {
    line-height: 5px;
    font-size: 11px;
    display: flex;
    justify-content: space-between;
  }
  
  .details-p p:nth-child(odd) {
    background-color: #f2f2f2;
    padding: 7px;
  }
  
  .details-text {
    margin-right: 50px;
    text-align: right;
    width: 30%;
    margin-left: 50px;
  }
  
  .book button {
    border-radius: 20px;
    padding: 10px;
    background-color: yellowgreen;
    border: none;
    color: white;
    margin-top: 30px;
    width: 40%;
  }
  
  .back {
    margin-left: 90px;
  }
  
  .Room-details-img {
    margin-left: 5px;
    width: 50%;
    margin-left: 60px;
  }
  
  .Room-details-img img {
    width: 100%;
    margin-left: 20px;
  }

  .RoomList {
    width: 100%;
    margin-top: 50px;
  }
  
  .RoomList-content {
    margin-left: 50px;
    margin-right: 50px;
  }
  
  .Room {
    padding: 10px;
    margin-top: 60px;
  }

  .Room-img img {
    width: 100%;
  }

  .description {
    margin-top: 2px;
  }
  
  .title {
    width: 100%;
  }
  
} 


/* Media Query for Tablets Ipads portrait mode */ 
@media (min-width: 769px) and (max-width: 1024px){ 
  .RoomLDetails {
    margin-top: 100px;
  }
  
  .details-last p {
    font-size: 9px;
    font-weight: bolder;
  }
  
  .details-p p {
    line-height: 5px;
    font-size: 11px;
    display: flex;
    justify-content: space-between;
  }
  
  .details-p p:nth-child(odd) {
    background-color: #f2f2f2;
    padding: 7px;
  }
  
  .details-text {
    margin-right: 50px;
    text-align: right;
    width: 30%;
    margin-left: 50px;
  }
  
  .book button {
    border-radius: 20px;
    padding: 10px;
    background-color: yellowgreen;
    border: none;
    color: white;
    margin-top: 30px;
    width: 40%;
  }
  
  .back {
    margin-left: 90px;
  }
  
  .Room-details-img {
    margin-left: 5px;
    width: 50%;
    margin-left: 60px;
  }
  
  .Room-details-img img {
    width: 100%;
    margin-left: 20px;
  }

  .RoomList {
    width: 100%;
    margin-top: 50px;
  }
  
  .RoomList-content {
    margin-left: 50px;
    margin-right: 50px;
  }
  
  .Room {
    padding: 10px;
    margin-top: 60px;
  }

  .Room-img img {
    width: 100%;
  }

  .description {
    margin-top: 2px;
  }
  
  .title {
    width: 100%;
  }
  
} 

/* Media Query for low resolution  Tablets, Ipads */ 
@media (min-width: 481px) and (max-width: 768px) { 
  .RoomLDetails {
    margin-top: 15px;
  }
  
  .details-last p {
    font-size: 9px;
    font-weight: bolder;
  }
  
  .details-p p {
    line-height: 5px;
    font-size: 11px;
    display: flex;
    justify-content: space-between;
  }
  
  .details-p p:nth-child(odd) {
    background-color: #f2f2f2;
    padding: 7px;
  }
  
  .details-text {
    margin-right: 50px;
    text-align: right;
    width: 30%;
    margin-left: 50px;
  }
  
  .book button {
    border-radius: 20px;
    padding: 10px;
    background-color: yellowgreen;
    border: none;
    color: white;
    margin-top: 30px;
    width: 50%;
  }
  
  .back {
    margin-left: 90px;
  }
  
  .Room-details-img {
    margin-left: 5px;
    width: 50%;
    margin-left: 60px;
  }
  
  .Room-details-img img {
    width: 100%;
    margin-left: 20px;
  }

  .RoomList {
    width: 100%;
    margin-top: 50px;
  }
  
  .RoomList-content {
    margin-left: 50px;
    margin-right: 50px;
  }
  
  .Room {
    padding: 10px;
    margin-top: 60px;
  }

  .Room-img img {
    width: 100%;
  }

  .description {
    margin-top: 2px;
  }
  
  .title {
    width: 100%;
  }
} 

/* Media Query for Mobile Devices */ 
@media (max-width: 480px) { 
  
  .RoomLDetails {
    display: inline-block;
    padding: 20px;
  }
  
  .details-p p {
    line-height: 2px;
    font-size: 11px;
    display: flex;
    justify-content: space-between;
  }
  
  .details-p p:nth-child(odd) {
    padding: 7px;
  }
  
  .details-text {
    text-align: right;
    width: 100%;
  }
  
  .book button {
    border-radius: 20px;
    padding: 5px;
    background-color: yellowgreen;
    border: none;
    color: white;
    margin-top: 30px;
    width: 58%;
  }
  
  .back {
    margin-left: 30px;
  }
  
  .Room-details-img {
    margin-left: 0px;
    width: 100%;
  }
  
  .Room-details-img img {
    width: 100%;
    margin-left: 0px;
  }

  .RoomList {
    width: 100%;
    margin-top: 50px;
  }
  
  .RoomList-content {
    margin-left: 50px;
    margin-right: 50px;
  }
  
  .Room {
    padding: 10px;
    margin-top: 60px;
  }

  .Room-img img {
    width: 100%;
  }

  .description {
    margin-top: 2px;
  }
  
  .title {
    width: 100%;
  }
} 

/* Media Query for Large screens */ 
@media (min-width: 1367px) {  
  .RoomLDetails {
    margin-top: 150px;
  }
  
  .details-last p {
    font-size: 20px;
    font-weight: bolder;
  }
  
  .details-p p {
    line-height: 12px;
    font-size: 20px;
    display: flex;
    justify-content: space-between;
  }
  
  .details-p p:nth-child(odd) {
    background-color: #f2f2f2;
    padding: 9px;
  }
  
  .details-text {
    margin-right: 50px;
    text-align: right;
    width: 30%;
    margin-left: 50px;
  }
  
  .book button {
    border-radius: 20px;
    padding: 10px;
    background-color: yellowgreen;
    border: none;
    color: white;
    margin-top: 30px;
    width: 40%;
    font-size: 18px;
  }
  
  .back {
    margin-left: 90px;
  }
  
  .Room-details-img {
    margin-left: 5px;
    width: 50%;
    margin-left: 60px;
  }
  
  .Room-details-img img {
    width: 100%;
    margin-left: 20px;
  }

  .RoomList {
    width: 100%;
    margin-top: 50px;
  }
  
  .RoomList-content {
    margin-left: 50px;
    margin-right: 50px;
  }
  
  .Room {
    padding: 10px;
    margin-top: 60px;
  }

  .Room-img img {
    width: 100%;
  }

  .description {
    margin-top: 2px;
  }
  
  .title {
    width: 100%;
  }
  
} 

  